test_data/textdocument/loremipsum_lf_utf8.txt text eol=lf
test_data/textdocument/loremipsum_crlf_ansi.txt text eol=crlf
test_data/textdocument/loremipsum_crlf_utf8.txt text eol=crlf
test_data/textdocument/loremipsum_crlf_utf8bom.txt text eol=crlf
test_data/textdocument/loremipsum_lf_utf8_edited.txt text eol=lf
